<mat-tab-group *ngIf="(user$ | async)" (selectedTabChange)="changeOwner($event)">
  <mat-tab label="All" i18n-label="@@Question.AllTab">
  </mat-tab>
  <mat-tab label="Own" i18n-label="@@Question.OwnTab">
  </mat-tab>
</mat-tab-group>
<div class="parentOfMain">
  <mat-card *ngFor="let question of questions; let i = index" [ngClass.gt-xs]="{'mainElementOnGt': true}"
            class="questions">
    <hr *ngIf="i===topQuestions && allOwner">
    <mat-card-title>{{question.question}}</mat-card-title>
    <mat-card-subtitle>{{question.votes}}
      <ng-container i18n="@@Question.currentVotes">current votes</ng-container>
    </mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-stroked-button i18n="@@Question.voteButton" (click)="vote(question.uid)" *ngIf="(user$ | async)?.votes > 0">Vote
      </button>
    </mat-card-actions>
  </mat-card>
</div>
