<div fxLayout="column" fxLayoutAlign="center center" class="h100">
  <h1 mat-dialog-title i18n="@@LevelChange.Congrats">
    Congratulations!
  </h1>
  <div *ngIf="!loopCompleted">
    <ng-lottie
      [options]="lottieConfig"
      (complete)="loopComplete()">
    </ng-lottie>
  </div>
  <mat-icon *ngIf="loopCompleted">emoji_events</mat-icon>
  <div mat-dialog-content *ngIf="loopCompleted">
    <h2>
      <ng-container i18n="@@LevelChange.LevelReached">You reached level</ng-container>
      {{userLevel}}.
    </h2>

    <div *ngIf="selectedLevel?.plusQuestions" class="prize">
      <ng-container i18n="@@LevelChange.PlusQuestions">Plus questions:</ng-container>
      {{selectedLevel.plusQuestions}}
    </div>
    <div *ngIf="selectedLevel?.plusVotes" class="prize">
      <ng-container i18n="@@LevelChange.PlusVotes">Plus votes:</ng-container>
      {{selectedLevel.plusVotes}}
    </div>
    <div class="prize" *ngIf="selectedLevel?.other && selectedLevel.other.length > 0" i18n="@@LevelChange.Other">You can
      vote
      for cities now!
    </div>
  </div>
  <button *ngIf="loopCompleted" mat-stroked-button (click)="close()">Nice!</button>
</div>
