.root {
  height: 100%;
}

.footer {
  border-top-style: solid;
  border-top-width: 0.2rem;
  border-top-color: #673ab7;
  padding: 0.3rem;
}

.main-wrapper {
  overflow-y: hidden;
  position: relative;
}

app-spinner-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

