<app-layout>
  <mat-sidenav-container>

    <mat-sidenav position="end" #sidenavMenu role="navigation">
      <app-sidenav-list (sidenavClose)="sidenavMenu.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenavMenu.toggle()"
                  (sidenavSettingsToggle)="sidenavSettings.toggle()"></app-header>
      <mat-sidenav-container>
        <mat-sidenav position="end" #sidenavSettings role="navigation">
          <app-settings></app-settings>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="parentOfMain">
            <main class="h100" [ngClass.gt-xs]="{'mainElementOnGt': true}">
              <router-outlet></router-outlet>
            </main>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>

