<mat-toolbar color="primary">
  <mat-icon *ngIf="!headerTitleService.navigationOff && !headerTitleService.hideBack" class="back-arrow"
            (click)="this.navigateBack()">arrow_back
  </mat-icon>
  <div fxFlexAlign="column">
    <div class="title">{{(user$ | async)?.nickName}}</div>
    <div class="subTitle" *ngIf="user$ | async">
      <ng-container i18n="@@Header.Level">level:</ng-container>
      {{(user$ | async)?.currentLevel}}
      <ng-container i18n="@@Header.Points">points:</ng-container>
      {{(user$ | async)?.points}}
    </div>

  </div>
  <div *ngIf="!headerTitleService.navigationOff" fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="end">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="!headerTitleService.navigationOff" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/game" i18n="@@Header.Game" routerLinkActive="activeMenu">Game</a>
      </li>
      <li>
        <a routerLink="/statistics" i18n="@@Header.Statistics" routerLinkActive="activeMenu">Statistics</a>
      </li>
      <li>
        <a routerLink="/questions" i18n="@@Header.Questions" routerLinkActive="activeMenu">Questions</a>
      </li>
      <li>
        <a routerLink="/spread" i18n="@@Header.Spread" routerLinkActive="activeMenu">Spread</a>
      </li>
      <li *ngIf="user$ | async">
        <a (click)="onToggleSettings()">
          <mat-icon>settings</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
