<h1 mat-dialog-title i18n="@@AddCity.Header">Select city!</h1>
<div>
  <div mat-dialog-content i18n="@@AddCity.Content">
    <input type="text" placeholder="Search city" i18n-placeholder="@@AddCity.SearchCityInput" matInput
           [formControl]="cityPickerCtrl">

    <div *ngFor="let city of filteredCitiesTop" (click)="selectCity(city.uid)">{{city.name}}</div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" i18n="@@AddCity.Cancel">Cancel</button>
    <button mat-button (click)="saveCity()" i18n="@@AreYouSure.Ok">Save</button>
  </div>
</div>
