<div *ngIf="cityScore && cityScore.cityResults && cityScore.cityResults.length">
  <div gdColumns.xs="repeat(1, 1fr)" gdColumns.gt-xs="repeat(2, 1fr)">
    <div>
      <h3>Score</h3>
      <div>
        <canvas baseChart
                [data]="cityScore.cityResults"
                [labels]="cityScore.cityLabels"
                [options]="cityScoreChartOptions"
                [legend]="false"
                [chartType]="'horizontalBar'">
        </canvas>
      </div>
    </div>
    <div>
      <h3>Participants</h3>
      <div>
        <canvas baseChart
                [data]="cityParticipants.cityResults"
                [labels]="cityParticipants.cityLabels"
                [options]="cityParticipantsChartOptions"
                [legend]="false"
                [chartType]="'horizontalBar'">
        </canvas>
      </div>
    </div>
  </div>
</div>
<app-not-found *ngIf="!cityScore || !cityScore.cityResults || !cityScore.cityResults.length"></app-not-found>
