<mat-tab-group (selectedTabChange)="changeAsked($event)">
  <mat-tab label="Not asked" i18n-label="@@Question.NotAskedTab">
    <mat-tab-group (selectedTabChange)="changeOwner($event)">
      <mat-tab label="All" i18n-label="@@Question.AllTab">
      </mat-tab>
      <mat-tab label="Own" i18n-label="@@Question.OwnTab">
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Asked" i18n-label="@@Question.AskedTab">
    <mat-tab-group (selectedTabChange)="changeOwner($event)">
      <mat-tab label="All" i18n-label="@@Question.AllTab">
      </mat-tab>
      <mat-tab label="Own" i18n-label="@@Question.OwnTab">
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
<div *ngFor="let question of questions">{{question.question}}</div>
