<div class="root">
  <ng-lottie
    [options]="lottieConfig"
    [width]="'200'"
    [height]="'200'">
  </ng-lottie>

  <h3 i18n="@@Login.MainTitle">Welcome to Who Is King?</h3>
  <p i18n="@@Login.SubTitle">Login to get started...</p>
  <div>
    <button mat-button  (click)="googleSignin()">
      <mat-icon svgIcon="google-logo"></mat-icon>
      Login with Google
    </button>
  </div>
  <div>
    <button mat-button (click)="fbSignin()">
      <mat-icon svgIcon="facebook-logo"></mat-icon>
      Login with Facebook
    </button>
  </div>
</div>
